/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #87CEFA, #FFFFFF);
    color: #333;
}

.header {
    background-color: #008080;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.forecast-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.city-info, .weather-info, .weekly-forecast {
    margin-bottom: 1.5rem;
}

.city-info h2, .weekly-forecast h2 {
    color: #008080;
}

.current-weather {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.current-weather img {
    width: 50px;
    height: 50px;
}

.details {
    margin-top: 1rem;
}

.weekly-forecast-block {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.weekly-forecast-block .day {
    display: table-cell;
    text-transform: capitalize;
    text-align: center;
}

.day_name{
    font-weight: bold;
}
.day_date{
    font-size: 13px;
}
.day img{
    width: 70px;
}
.details p span{
    font-weight: bold;
}
.city-info p {
    font-style: italic;
}
.city-info p span{
    text-decoration: underline;
}